$color-background: #FEFFF9;
$color-additional-background:#F5F5F5;
$color-headings:#000000;
$color-text: #6E6E6E;
$color-button: #F5C231;
$color-footer-background:#282828;
$color-footer-headings:#ffffff;
$color-footer-text:#B6B3B3;
$color-table-headings: #F4F5EF;

$content-width:1200px;
