.placing-order{
  padding: 50px 0px 100px;
}

.placing-order__title{
  margin:0px auto 35px;
  text-align: center;
}

.placing-order__navigation{
  display: flex;
  justify-content: space-between;
}

.order__nav-block__name{
  margin: 0px;
  color:$color-text;
}

.placing-order__cart, .placing-order__contacts{
  width:100%;
  margin-top: 28px;
}
thead{
  background-color: $color-table-headings;
  color:$color-text;
  border:none;
}

.cart__header{
  padding: 17px 40px;

}

.cart__product{
  .product{
    display: flex;
    .product__title{
      margin: 0px;
    }
    .product__weight{
      margin: 0px;
    }
  }
  .product__short-description{
    margin-top: 22px;
  }
  .product__image{
    margin-right: 28px;
    width: 114px;
  }
  .product__weight{
    text-align: start;
    @include font($size:1.6rem, $height:2.4rem);
    color: $color-text;
  }
  .product__price{
    @include font ($size:2.4rem, $height:3.5rem, $weight:500);
  }
}



.cart__product td{
  padding: 40px;
  text-align: center;
  border-bottom:3px solid #F4F5EF;
}

.quantity__decrease, .quantity__increase, .quantity{
  display: inline-flex;
  @include font ($size:2.4rem, $height:3.5rem, $weight:500);
}

.quantity{
  padding: 10px 20px;
  border:  1px solid $color-footer-text;

}
.quantity__decrease{
  color:$color-text;
}
.quantity__increase{
  color:$color-button;
}

tr{
  border-bottom:3px solid #F4F5EF;
}

.cart__buttons{
  display: flex;
  gap: 24px;
}
.cart__price{
  @include font($size:2.4rem, $height:6rem, $weight:500);
}

.placing-order__contacts{
  >*{
    display: block;
  }
  input{
    box-sizing: border-box;
    border: 1px solid $color-text;
    background: transparent;
    padding: 16px;
    width: 407px;
    margin: 20px 0 42px;
    @include font($size:1.8rem, $height:2.6rem);
  }
  margin: 40px 0;
}

.placing-order__delivery, .placing-order__payment{
  margin: 40px 0;
}

.promocode, .select{
  box-sizing: border-box;
  border: 1px solid $color-text;
  background: transparent;
  padding: 14px;
  width: 357px;
  @include font($size:1.8rem, $height:2.6rem);
}
