@font-face{
    font-family: 'BeerMoney';
    src:url(../resource/beer_money/beer\ money.ttf) format('truetype');
}
@font-face{
    font-family: 'Jost';
    src:url(../resource/Jost/Jost-VariableFont_wght.ttf) format('truetype')
}
