.footer{
    background: $color-footer-background;
    padding: 105px 0px;
}

.footer-navigation__title{
    margin: 0px;
    color:$color-footer-headings;
    @include font($size:2.6rem, $height:6rem);
}

.footer-navigation__links{
    list-style: none;
    padding-left: 0px;
    a{
        text-decoration: none;
        color:$color-footer-text;
        @extend %transition;
        &:hover{
        color: $color-text;
    }
    }
    @include font($size:1.8rem, $height:2.6rem);
    cursor: pointer;
}

.networks__column{
    text-align: center;
}

.networks>*{
    display: inline-block ;
}
.networks{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 130px;
}